.newsletter{
    height: 40vh;
    width: 65%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 140px;
    margin: auto;
    margin-bottom: 150px;
    background: linear-gradient(180deg,#fde1ff 0%,#e1ffea22 60%);
    gap: 30px;
}
.newsletter h1{
    font-size: 55px;
    font-family: 500;
    color: #454545;
}
.newsletter p{
    font-size: 20px;
    color: #454545;
}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 730px;
    background: white;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}
.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: 'poppins';
    font-size: 16px;
}
.newsletter div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
@media (max-width:1280px) {
    .newsletter{
        padding: 10px 80px;
        gap: 20px;
        margin-bottom: 120px;
    }
    .newsletter h1{
        font-size: 36px;
    }
    .newsletter p{
        font-size: 16px;
    }
    .newsletter div{
        height: 60px;
        width: 600px;
    }
    .newsletter input{
        width: 400px;
    }
    .newsletter div button{
        width: 160px;
        height: 60px;
    }
}

@media (max-width:1024px) {
    .newsletter{
        margin-bottom: 60px;
    }
    .newsletter h1{
        font-size: 30px;
    }
    .newsletter p{
        font-size: 14px;
    }
    .newsletter div{
        height: 50px;
        width: 500px;
    }
    .newsletter div input{
        width: 300px;
        font-size: 14px;
    }
    .newsletter div button{
        width: 140px;
        height: 50px;
        font-size: 14px;
    }
}

@media (max-width:800px) {
    .newsletter{
        margin-bottom: 30px;
        height: 35vh;
    }
    .newsletter h1{
        font-size: 20px;
    }
    .newsletter p{
        font-size: 12px;
    }
    .newsletter div{
        height: 40px;
        width: 400px;
    }
    .newsletter div input{
        width: 200px;
        font-size: 14px;
    }
    .newsletter div button{
        width: 100px;
        height: 40px;
        font-size: 11px;
    }
}

@media (max-width:500px) {
    .newsletter{
        height: 25vh;
        width: 100%;
        padding: 0px;
        gap: 15px;
    }
    .newsletter h1{
        font-size: 16px;
    }
    .newsletter p{
        font-size: 13px;
        text-align: center;
        max-width: 250px;
    }
    .newsletter div{
        width: 300px;
    }
    .newsletter div input{
        width: 120px;
    }
}